body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
}

.container{
	width: 100%;
	font-family: "Lato", Arial, serif, sans-serif;
	background: ;
}


.search{
	margin-top: 50px;
	margin-left: 80px;
	text-align: center;
}

.search form input{
	padding: 10px;
	border-radius: 5px;
	width: 500px;
	height: 25px;
	border: 0.7px solid gray;
}

.search-button {
	width: 100px;
	height: 45px;
	padding: 5px;
	border-radius: 5px;
	background: gray;
	color: black;
	border: 0;
}

.search-button:hover{
	background: skyblue;
	color: white;
}

.butt{
	width: 150px;
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	background: white;
	color: black;
	border: 0;
}

.butt:hover {
	background: gray;
}

.search-butt:hover{
	background: skyblue;
}

.place-info{
	padding: 10px;
	border: 0;
	background: #78C3FB;
	border-radius: 5px;
	width: 90%;
	height: 300px;
	position: relative;
	left: 80px;
	top: 10px;
	bottom: 50px;
}

.details{
	
}

#maparea{
	width: 100%;
	height: 400px;
	background: grey;
}

@media screen and (max-width: 768px){
	.container{
		width: 100%;
	}
}