body {
	padding: 0;
	margin: 0;
}

.container{
	width: 100%;
	font-family: "Lato", Arial, serif, sans-serif;
}

nav ul li:first-child{
	font-weight: bold;
	font-size: 35px;
}

nav ul {
	background: gray;
	height: 50px;
	padding: 5px;
	margin: 0;
}

nav ul li{
	display: inline;
	list-style: none;
	padding: 10px;
}

nav ul li form{
	float: right;
}

nav ul li form input{
	padding: 10px;
	border-radius: 8px;
	width: 500px;
	height: 25px;
	border: 0;
}

.butt{
	width: 150px;
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	background: skyblue;
	color: black;
	border: 0;
}

.place-info{
	padding: 10px;
	border: 0;
	background: #B3B6B7;
	border-radius: 5px;
	width: 90%;
	height: 300px;
	position: relative;
	left: 80px;
	top: 10px;
	bottom: 50px;
}

.details{
	
}

#maparea{
	width: 100%;
	height: 400px;
	background: grey;
}